.drawer-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 60%;
    max-width: 450px;
    background-color: #fff;
    z-index: 101;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.7s ease-out;
}
.drawer-left.open {
    transform: translateX(0);
}